body { margin: 0; height: 100%; font-family: Palatino, Times, serif; line-height: 120%;}

h1, h2, h3, h4, h5, h6 { color:#333333; }

img { padding:2px; border:1px solid #000000; margin:10px 0px 10px 15px; }

#page-frame { width:100%; } 

#header-frame { width:100%; background:#CCFFCC; padding:0; border-bottom-color:#666666; border-width:0 0 1px 0; border-style:none none solid none; } 

#header-text { width:70%; margin: 0px auto; padding: 1px 0; max-width:1000px;} 

#main-frame { width:70%; margin: 0px auto; height: auto; max-width:1000px; } 

#main-text { padding:10px 0; margin: 0px auto; height: auto; } 

#footer-frame { clear:both; width:70%; margin:0px auto; height:auto; border-color:#666666; border-width: 1px 0 0 0; border-style: solid none none none; max-width:1000px; } 

#footer-text { font-size:80%; margin:0px auto; clear:both; max-width:1000px;} 

#nav-menu { font-size: 85%; float:right; text-align:right; clear:left; padding:.3em; margin:1em; border-style:none; border-color:#333333; border-width: 1px; } 

.right { float:right; }

.nav-current { background-color:#FFFFFF; border-style: solid; border-color:#333333; border-width: 1px; padding: .3em; } 

.nav-notcurrent { background-color: #CCCCCC; border-style: solid; border-width: 1px; padding: .3em; }